/**
 * ****************************
 * Elements • Typography
 * ****************************
 */


/**
 * Define Font Families
 */
.e-h1,
.e-h2,
.o-post h1,
.o-post h2{
	font-family: font( Delius );
}

.e-h3,
.e-h4,
.e-h5,
.e-h6,
.o-post h3,
.o-post h4,
.o-post h5,
.o-post h6,
p,
blockquote,
a,
button,
label,
li,
textarea,
nav{
	font-family: font( Assistant );
}


/**
 * Define Classless Element Styles
 */

blockquote,
.c-post blockquote{

	font-weight: 300;
	font-size: 26px;
	line-height: 36px;

	@include respond-max( $phone ){
		font-size: 20px;
		line-height: 30px;
	}

}

strong{
	font-weight: 700;
}


/**
 * Define Element Class Styles
 */


/**
 * Heading Classes
 */

.e-h1,
.o-post h1{
	font-size:52px;
	line-height: 1.3;
	margin: 10px 0;
	font-weight: 300;

	@include respond-max( $phone ){

		font-size:40px;
		line-height: 1.2;

	}

}

.e-h2,
.o-post h2{
	font-size:35px;
	font-weight: 300;

	@include respond-max( $phone ){

		font-size:30px;

	}

}

// Page Secondary Navs
.e-h3,
.o-post h3{
	font-size:25px;
	font-weight: 700;

	// To Do - Move this to card SCSS
	letter-spacing: 2px;
}

.e-h4,
.o-post h4{	
	font-size:23px;
	font-weight: 300;
	letter-spacing: 1px;
}

// Simple Accordion Header
.e-h5,
.o-post h5{

}

// Partner Card Titles
// Secondary Nav Titles

.e-h6,
.o-post h6,
.c-menu--secondary > .c-menu__item > a,
.c-menu--secondary > button.c-menu__item{
	font-size: 18px;
	font-weight: 700;
	line-height: 25px;
	letter-spacing: 1px;
}

/**
 * Body Copy Classes
 */
.e-p--small{
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 1px;
	line-height: 18px;
}

.e-p--common,
.o-post p,
.o-post ul,
.o-post ol,
textarea,
input{
	font-size: 15px;
	font-weight: 400;
	line-height: 25px;
}

.e-p--large{
	font-size: 16px;
	font-weight: 300;
	line-height: 30px;
}

.e-p--large--semi{
	font-size: 16px;
	font-weight: 600;
	line-height: 30px;
}