/*------------------------------
* Responsive Breakpoint VARS
*------------------------------*/

	$tiny			:	400px;
	$partners		:	450px;
	$very-small		:	500px;
	$small			:	600px;
	$sm_col_break	:	767px;
	$phone-s		: 	700px;
	$phone			: 	800px;
	$tablet			:	900px;
	$ipad-mini		: 	980px;
	$md_col_break	: 	990px;
	$nav-swap		: 	1050px;
	$nav-shrink		: 	1100px;
	$ipad			:	1200px;
	$laptop			:  	1400px;
	$desktop		: 	1920px;
	$three-k		: 	3000px;