@font-face {
	font-family: "lightcase";
	src: url("../fonts/lightcase.eot");
	src: url("../fonts/lightcase.eot#iefix") format("embedded-opentype"),
		url("../fonts/lightcase.woff") format("woff"),
		url("../fonts/lightcase.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

[class*="lightcase-icon-"]:before {
	font-family: "lightcase", sans-serif;
	font-style: normal;
	font-weight: normal;
	speak: none;

	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	text-align: center;

	/* For safety - reset parent styles, that can break glyph codes*/
	font-variant: normal;
	text-transform: none;

	/* fix buttons height, for twitter bootstrap */
	line-height: 1em;
}

/* Codes */
.lightcase-icon-play:before {
	content: "\e800";
}
.lightcase-icon-pause:before {
	content: "\e801";
}
.lightcase-icon-close:before {
	content: "\e802";
}
.lightcase-icon-prev:before {
	content: "\e803";
}
.lightcase-icon-next:before {
	content: "\e804";
}
.lightcase-icon-spin:before {
	content: "\e805";
}
