.o-header{
	background-color: white;
	background-image: linear-gradient( color( grayscale, 99 ), color( grayscale, 97 ) ) ;


	@include respond-max( $nav-swap ){
		display: block; 
		padding: 10px 0;
		position: fixed;
		width: 100%;
		z-index: z( mobile_menu );

	}

}


