.o-section--sub-page {
	padding: 60px 0 80px 0;
}

.o-section--form {
	padding: 40px 0 120px 0;
}

.o-section--404 {
	padding: 150px 0;
}

.o-section--post-header {
	padding-top: 120px;
}

.o-section--post-body,
.o-section--post-archive {
	padding: 60px 0 120px 0;
}
