/**
 * ****************************
 * Utility • Positioning
 * ****************************
 */

.u-clearfix:before,
.u-clearfix:after,
.o-container:before,
.o-container:after,
.o-container-fluid:before,
.o-container-fluid:after,
.o-row:before,
.o-row:after {
  content: " ";
  display: table;
}
.u-clearfix:after,
.o-container:after,
.o-container-fluid:after,
.o-row:after {
  clear: both;
}


.u-center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.u-pull--right {
  float: right !important;
}
.u-pull--left {
  float: left !important;
}


.u-affix {
  position: fixed;
}