/**
 * ****************************
 * Utility • Text Color
 * ****************************
 */

.u-color--white{
	color: color( grayscale, white );
}

.u-color--gray{
	color: color( gray );
}

.u-color--blue{
	color: color( blue );
}

.u-color--blue-l{
	color: color( blue-l );
}

.u-color--blue-m{
	color: color( blue-m );
}

.u-color--blue-d{
	color: color( blue-d );
}

.u-color--purple{
	color: color( purple );
}

