/**
 * ****************************
 * Utility • Widths
 * ****************************
 */


@each $width in $widths {
  
    .u-max-width--#{$width} { 
        max-width: #{$width}px;
    }
}

.u-center{
	margin: 0 auto;
}

.u-hug-right{
	margin-right:0;
	margin-left: auto;
}

.u-hug-right{
	margin-right: auto;
	margin-left: 0;
}

.u-img-width-fix{
	width:100%;
}