.o-section--request-apt-intro{

    padding: 140px 0px 64px 0px;

}

.o-section--request-apt-intro .c-logo{

    max-width: 400px;
    margin: 0px auto 24px;

}

.o-section--request-apt-intro .c-title-group__title{

    margin-bottom: 16px;

}

.o-section--request-apt-intro a{

    color: color( blue-m );

}

.o-section--apt-request-contact{

    background-color: color( grayscale, 97 );
    padding: 120px 0px 70px 0px;

}