.o-section--request-apt-intro{

    padding: 72px 0px 72px 0px;

}

.o-section--request-apt-intro .c-logo{

    max-width: 400px;
    margin: 0px auto 24px;
    width: 100%;

}

.o-section--request-apt-intro .c-title-group__title{

    margin-bottom: 16px;

}

.o-section--request-apt-intro a{

    color: color( blue-m );

}


/**
 * Appointment Request Form
 */

 .o-content--request-appointment .o-section--form{

    padding-bottom: 400px;

    @include respond-min( $ipad ){

        padding-bottom: 400px;

    }


 }


.o-section--apt-request-contact{

    background-color: color( grayscale, 97 );
    padding: 120px 0px 70px 0px;

}

/**
 * Appointment Request Form Images
 */

 .o-section--request-apt-images{

    bottom: -2px;
    display: block;
    position: absolute;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    z-index: z(below);

 }

.o-section--request-apt__image{

    display: block;
    max-height: 350px;
    max-width: 350px;

}

.o-section--request-apt__image{

    bottom: 0;
    position: absolute;

}

.o-section--request-apt__image--left{

    display: none;

    @include respond-min( $small ){
        display: block;
        left: -100px;
    }

    @include respond-min( $tablet ){

        left: 0px;

    }

    @include respond-min( $laptop ){

        left: 100px;

    }

}

.o-section--request-apt__image--right{

    right: -50px;

    @include respond-min( $small ){
        right: -125px;
    }

    @include respond-min( $tablet ){

        right: 0;

    }

    @include respond-min( $laptop ){

        right: 100px

    }

}