/**
 * Base Styles
 */

.c-subscribe__group__field label{
	color: color( grayscale, white );
	display: block;
	text-align: left;
}

.c-subscribe__group--name,
.c-subscribe__group--email{
	margin-bottom: 20px;
}



/**
 * Half Column Fields
 */

.c-subscribe__group__field--half{
	float: left;
	width: 45%;

	
}

.c-subscribe__group__field--right{
	margin-left: 7%;
}


/**
 * Input Styles
 */

// Set inputs to full width
.c-subscribe__group__field--full input,
.c-subscribe__group__field--half input,
.c-subscribe__submit input{

	border-radius: 40px;
	box-shadow: none;
	color: color( grayscale, white );
	display: block;
	font-size: 12px;
	font-weight: 300;
	padding: 2px 10px;
	transition: transition( form );
	width:95%;

}

.c-subscribe__group__field input{

	background: color( blue );	
	border:none;
	

	&:focus{
		background: color( blue, dark5 );
		outline: none;
	}

}


/**
 * Button Styles
 */

.c-subscribe__submit input{

	background: transparent;
	border: 2px solid color( grayscale, white );
	color: color( grayscale, white );
	cursor: pointer;
	letter-spacing: 1px;
	text-transform: uppercase;
	width: 50%;

	&:hover{
		background: color( grayscale, white );
		color: color( blue );
	}

}