/**
 * ****************************
 * Component • Text Link
 * ****************************
 */

a :not(.c-menu__link):not(.c-copyright__link){
	color: color( blue-m );
    text-decoration: underline;
}
a:hover :not(.c-menu__link):not(.c-copyright__link){
    
    color: color( blue );
    text-decoration: underline;
    
}
.c-text-link a,
.c-text-link {
    
    color: color( blue-m );
    text-decoration: underline;
}



.c-text-link a:hover,
.c-text-link:hover {
    
    color: color( blue );
    text-decoration: underline;
    
}